<ion-view view-title="Dashboard">
  <ion-content class="padding">
   
       
    <div class="list card animated spin">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
            The volatile cryptocurrency hit a record  </div>
        </div>
    </div>
    <div class="list card animated spin">
      <div class="item item-divider">Education Portal</div>
      <div class="item item-body">
        <div>
          CBSE class 12 boards 2018: The board exams for both class 10 and 12 are just one month away and students
        </div>
      </div>
    </div>
    <div class="list card animated spin">
      <div class="item item-divider">Sports News</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    
  <div class="list card animated bounceInRight">
      <button ion-button color="secondary">Click for more information</button>
    </div>      
  </ion-content>
</ion-view>

